<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a [routerLink]="['Home']" class="navbar-brand">Calcium</a>
    </div>
    
    <ul class="nav navbar-nav">
      <li *ngIf="user"><a [routerLink]="['Dashboard']">Dashboard</a></li>
    </ul>
    
    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="!user"><a [routerLink]="['Login']">Login</a></li>
      <li *ngIf="user"><a>{{ user.firstName }} {{ user.lastName }}</a></li>
      <li *ngIf="user"><a (click)="logout()">Logout</a></li>
    </ul>
  </div>
</nav>