<action-bar>
  <div class="container">
    <form class="form-inline pull-left">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
          <input class="form-control" type="text" placeholder="Search...">
        </div>  
      </div>
    </form>
    
    <a class="btn btn-primary pull-right" [routerLink]="['NewInstance']">
      <span class="glyphicon glyphicon-plus"></span> New calculation
    </a>
  </div>
</action-bar>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <td><strong>Name</strong></td>
            <td><strong>Type</strong></td>
          </tr>
        </thead>
        
        <tbody>
          <tr *ngFor="let instance of instances">
            <td><a [routerLink]="['Instance', { id: instance._id }]">{{ instance.name }}</a></td>
            <td>{{ instance.template.name }}</td>
            <td>
              <a class="btn btn-default pull-right" [routerLink]="['Instance', { id: instance._id }]">Open</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>