<action-bar>
  <div class="container">
    <a class="navigation-link" [routerLink]="['Dashboard']">
      <span class="glyphicon glyphicon-chevron-left"></span> Dashboard
    </a>
    
    <button class="btn btn-default pull-right">Print</button>
  </div>
</action-bar>

<div class="page-header">
  <div class="container">
    <h2 *ngIf="instance">{{ instance.name }} <small>{{ instance.template.name }}</small></h2>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <dynamic-calculation-container
          [instance]="instance" 
          *ngIf="instance" ></dynamic-calculation-container>

      <div class="instance-output panel" 
          [ngClass]="{ 'panel-success': output.status == 'success', 'panel-danger': output.status == 'error' }" 
          *ngIf="output.message" >
          
        <div class="panel-heading">
          <h3 class="panel-title">Raw output</h3>
        </div>
        
        <div class="panel-body">
          <pre>{{ output.message }}</pre>
        </div>
      </div>
    </div>
  </div>
</div>