<div class="jumbotron">
  <div class="container">
    <h1>21st Century Engineering</h1>
    <p>Perform calculations from an ever-expanding library, and access them from anywhere.</p>
    <a *ngIf="!user" [routerLink]="['Login']" class="btn btn-primary">Tester login</a>
    <a *ngIf="user" [routerLink]="['Dashboard']" class="btn btn-primary">Your dashboard</a>
  </div>
</div>

<div class="container">
  <h2>Structural design enters the tech era</h2>
  <p class="lead">Calcium is a design suite for concrete and steel. It allows the modern engineering practice to focus on engineering, not technology.</p>
  <p><strong>A rich interface</strong> for each calculation means you have greater insight into member behaviour.</p>
  <p><strong>Group your calculations</strong> by project to manage them through the project lifecycle.</p>
  <p><strong>Easily share your calculations</strong> with the rest of your team or collaborate in real time.</p>
  <p><strong>Platform independent</strong> Calcium operates in your browser, no matter if you use Windows, Mac or a mobile device.</p>
  <p><strong>Get started instantly</strong> Instead of shared file servers and licensing dongles, perform your calculations in the browser.</p>
</div>

<div class="container">
  <h2>How do I sign up?</h2>
  <p>Calcium will be ready for you to join from July 2016.</p>
  <p><small>Have a beta tester account? You can <a [routerLink]="['Login']">sign in here</a>.</small></p>
</div>